<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id='aa'>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>

        <span>Multiline message is:</span>
        <p style="white-space: pre-line">{{ message }}</p>
        <br>
        <!--在文本区域插值( <textarea></textarea> ) 并不会生效，应用 v-model 来代替。  -->
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>
    <!------------------复选框-------------------  -->
    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <!-------------------单选框-----------------  -->
    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <!----------------选择列表------------------  -->
    <div id="example-5">
        <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <!----------------多选列表--------------------------  -->
    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px">
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
    <!-------------动态选项--------------  -->
    <div id='app7'>
        <select v-model="selected">
  <option v-for="option in options" v-bind:value="option.value">
    {{ option.text }}
  </option>
</select>
        <span>Selected: {{ selected }}</span>
    </div>
    <!---------------值绑定--------------  -->
    <div id='app8'>
        <!-- 当选中时，`picked` 为字符串 "a" -->
        <input type="radio" v-model="picked" value="a">qq
        <!-- `toggle` 为 true 或 false -->
        <input type="checkbox" v-model="toggle">2w
        <!-- 当选中时，`selected` 为字符串 "abc" -->
        <select v-model="selected">
        <option value="abc">ABC</option>
        </select>
    </div>
    <!----------复选框-----  -->
    <div id="app9">
        <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b">{{toggle}}
    </div>
    <!---------------单选按钮----------  -->
    <div id="app10">
        <input type="radio" v-model="pick" v-bind:value="a">{{pick}}
    </div>
    <!---------------选择列表的选项----------  -->
    <div id="app11">
        <select v-model="selected">
    <!-- 内联对象字面量 -->
  <option v-bind:value="{ number: 123 }">123</option>
</select>
    </div>
<!--           修饰符            -->
<!----------.lazy--------------  -->
<!-- 在 "change" 而不是 "input" 事件中更新 -->
<input v-model.lazy="msg" >
<!----------.number--------------如果想自动将用户的输入值转为 Number 类型
    （如果原值的转换结果为 NaN 则返回原值），
    可以添加一个修饰符 number 给 v-model 来处理输入值-->
<input v-model.number="age" type="number">
<!----------.trim--------------  如果要自动过滤用户输入的首尾空格，可以添加 trim 修饰符到 v-model 上过滤输入：-->
<input v-model.trim="msg">

</body>

</html>
<script src='https://unpkg.com/vue'></script>
<script>
    var aas = new Vue({
        el: '#aa',
        data: {
            message: '',
            checked: 'sdfds'
        }
    })
    // .................
    new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    })
    //......................
    new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    })
    // .........
    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    })
    // .............
    new Vue({
        el: '#example-6',
        data: {
            selected: []
        }
    })
    // ..............
    new Vue({
        el: '#app7',
        data: {
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    })
    // ...........
    new Vue({
        el: '#app8',
        data: {
            picked: 'a',
            toggle: true,
            selected: []
        }
    })
    // ..........
    var vm = new Vue({
        el: '#app9',
        data: {
            toggle: '',
            a: 'a',
            b: 'b'
        }
    })
    // 当选中时
    vm.toggle === vm.a
    // 当没有选中时
    vm.toggle === vm.b
    // .......
    var vms = new Vue({
        el: '#app10',
        data: {
            pick: '',
            a: 'a'
        }
    })
    // 当选中时
    vms.pick === vms.a
    // ..................
    var vm1 = new Vue({
        el:'#app11',
        data:{
            selected:''
        }
    })
// 当选中时
// typeof vm1.selected // => 'object'
// vm1.selected.number // => 123

</script>